<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/actors"></ion-back-button>
      </ion-buttons>
  
      <ion-title>{{ actor?.first_name }} ({{ actor?.last_name}})</ion-title>
  

 
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="ion-padding">
    <ng-container *ngIf="actor; else noActor">
      <ion-img class="actor-img" [src]="actor.img"></ion-img>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-text class="ion-text-start">
              <h2>Puntuación</h2>
              <app-rating
               {{ actor.rating }} 
              ></app-rating>
            </ion-text>
          </ion-col>
          <ion-col>
            <ion-text class="ion-text-end">
              <h2>Duración</h2>
              <p>{{ actor?.id  }}</p>
            </ion-text>
          </ion-col>
        </ion-row>
  
        <ion-row>
          <ion-col>
            <h2>Géneros</h2>
            <span *ngFor="let currentGender of actor?.gender"
              >#{{actor.gender }}
            </span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ng-container>
    <ng-template #noActor>
      <ion-spinner></ion-spinner>
    </ng-template>
  </ion-content>
  