<ion-card>
    <img
      class="movie-img pointer"
      [src]="actor.img"
      onerror="this.src = './assets/error.jpg'"
      (click)="onClickCard()"
    />
  
    <ion-card-header class="pointer" (click)="onClickCard()">
      <ion-card-title>{{ actor.first_name }}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-grid class="ion-no-padding">
        <ion-row class="ion-justify-content-center">
          <ion-col size="5">
            <span *ngIf="actor.gender.length">No binario</span>
      
          </ion-col>
          <ion-col size="7">
          
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  